<p>Hello and welcome to Hot Jobs! For awesomeness, follow the instructions below:</p>
<ol>
  <li>Add the job IDs you wanna include in the email</li>
  <li>Click "Get Info" for the language you want and modify the data (job title etc) if needed</li>
  <li>Finally, click "Generate" and you'll have the email!</li>
</ol>
<% if flash[:alert] %>
  <p style="color: red"><%= flash[:alert] %></p>
<% end %>
<%= form_tag '/get_info' do %>
  <table>
    <thead>
      <tr>
        <th>Engineering &amp; Design</th>
        <th>Business &amp; Marketing</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1. <input name="engineering[]" /></td>
        <td>1. <input name="business[]" /></td>
      </tr>
      <tr>
        <td>2. <input name="engineering[]" /></td>
        <td>2. <input name="business[]" /></td>
      </tr>
      <tr>
        <td>3. <input name="engineering[]" /></td>
        <td>3. <input name="business[]" /></td>
      </tr>
    </tbody>
  </table>
  <input type="submit" value="Get Info (English)" name="commit" />
  <input type="submit" value="Get Info (Japanese)" name="commit" />
<% end %>
